@font-face {
    font-family: 'PrimaryFont';
    src: url('../../assets/Fonts/BebasNeue-Regular.ttf');
}

.headerCategory {
    &--Font {
        margin-right: 20px;
        font-size: 70px;
        // font-family: 'Courier New', Courier, monospace;
        font-family: 'PrimaryFont';
        font-weight: bold;
        color: white;
    }
    &--Image {
        width: 100%;
        // height: 250px;
    }
    &--Container {
        // float: left;
        background-color: $primary;
        width: 100%;
        height: auto;
        border-radius: 20px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        // padding: 10px;
    }
}

.home {
    &--Container {
        width: 65%;
        margin-right: auto;
        margin-left: auto;
    }
    &--Input {
        color: grey;
        width: 100%;
        font-size: 50px;
        font-family: 'PrimaryFont';
        background-color: $primary;
        border-color: transparent;
        border-radius: 15px;
        text-align: center;
        border-style: none;
    }
    &--Button {
        width: 100%;
        height: 4rem;
        color: grey;
        font-family: 'PrimaryFont';
        background-color: white;
        border-color: transparent;
        border-radius: 15px;
        font-size: 50px;
        &:hover {
            background-color: $optional;
            // color: white;
        }
    }
}

@media all and (max-width: 1024px) {
    .home {
        &--Container {
            width: 100%;
            float: left;
        }
        &--Input {
            color: grey;
            width: 100%;
            font-size: 30px;
            height: 4rem;
            font-family: 'PrimaryFont';
            background-color: $primary;
            border-color: transparent;
            border-radius: 15px;
            text-align: center;
            border-style: none;
        }
        &--Button {
            width: 100%;
            height: 4rem;
            color: grey;
            font-family: 'PrimaryFont';
            background-color: white;
            border-color: transparent;
            border-radius: 15px;
            font-size: 50px;
            &:hover {
                background-color: $optional;
                // color: white;
            }
        }
    }
}