@use 'Containers';
@use 'Buttons';
@use 'Selection';
// use '../helpers/LettersStyle.scss';


@font-face {
    font-family: 'PrimaryFont';
    src: url('../../assets/Fonts/BebasNeue-Regular.ttf');
}

.headerCategory {
    &--Font {
        margin-right: 20px;
        font-size: 70px;
        // font-family: 'Courier New', Courier, monospace;
        font-family: 'PrimaryFont';
        font-weight: bold;
        color: white;
    }
    &--Image {
        width: 100%;
        // height: 250px;
    }
    &--Container {
        // float: left;
        background-color: $primary;
        width: 100%;
        height: auto;
        border-radius: 20px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        // padding: 10px;
    }
}

.home {
    &--Container {
        @include ContainerStyle(65%, auto, 0px, $main, 60px);
    }
    &--Input {
        @include InputStyle('large', white);
    }
    &--Button {
        @include ButtonStyle('large', 5rem, 0px, $hoverpink, rgb(255, 255, 255));
    }
    &--Register {
        @include ContainerStyle(100%, auto, 0px, $main, 20px);
        font-size: 25px;
        text-align: right;
    }
    &--Social {
        @include ContainerStyle(60%);
    }
}

.auth {
    &--Container {
        display: flex;
        @include ContainerStyle(75%, 5rem, 0px, $main, 0px);
    }
    &--Button {
        @include ButtonStyle('small', 0px, 0px, $optionalbtn,grey, 30px, 15px, 5px);
    }
}

.main {
    &--container {
        @include ContainerStyle(90%, auto, 0px, $main, 0px, 0px);
        border-top: 1px solid $hoverpink;
        border-left: 1px solid $hoverpink;
        border-right: 1px solid $hoverpink;
        margin-left: 0px;
        display: flex;
        padding-left: 26.3px;
        padding-right: 26.3px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    &--fcontainer {
        @include ContainerStyle(50%, auto, 0px, $main, 0px, 15px);
        text-align: left;
    }
    &--scontainer {
        @include ContainerStyle(50%, auto, 0px, $main, 25px, 15px);
        text-align: left;
        display: inline-table
    }
    &--profile {
        @include ImagesStyle(35%, 7rem, 0px);
        margin-top: 20px;
        border-radius: 100%;
    }
    &--button {
        @include ButtonStyle('small', 1.8rem, auto, $hoverpink, white);
    }
}

.gm {
    &--main {
        @include ContainerStyle(100%);
        display: flex;
    }
    &--container {
        @include ContainerStyle(33.3%, auto, 0px, $optional, 0px, 0px, 20px);
        border-radius: 5px;
        display: flex;
        transition: all 0.6s ease;
        cursor: pointer;
        &:hover {
            background-color: $hoverpink;
        }
    }
    &--images {
        @include ImagesStyle(100%, auto, 0px);
    }
    &--icontainer {
        @include ContainerStyle(50%, 7rem, 0px, transparent);
    }
    &--tcontainer {
        @include ContainerStyle(50%, 7rem, 0px, transparent);
    }
}

.join {
    &--main {
        @include ContainerStyle(92%, auto, 20px, $hoverpink);
        margin-left: 0px;
        display: flex;
    }
    &--fcontainer {
        @include ContainerStyle(40%, auto, 0px, $hoverpink);
    }
    &--scontainer {
        @include ContainerStyle(60%, auto, 0px, $hoverpink);
    } 
    &--input {
        @include InputStyle('large', white, 3rem);
        font-size: 25px;
    }
    &--button {
        @include ButtonStyle('large', 4rem, 100%, $hoverpink, white);
    } 
}

.tc {
    &--main {
        @include ContainerStyle(100%);
        display: flex;
    }
    &--fcontainer {
        @include ContainerStyle(70%)
    }
    &--scontainer {
        @include ContainerStyle(30%);
        margin-top: 0px;
    }
    &--selection {
        @include SelectionStyle(90%);
    }
    &--input {
        @include InputStyle('medium', white, 3rem);
        width: 90%;
    }
    &--button {
        @include ButtonStyle('medium', 4rem, 0px, $hoverpink, white);
        width: 91%;
    }
}

@media all and (max-width: 1024px) {
    .home {
        &--Container {
            width: 100%;
            float: left;
        }
        &--Input {
            color: rgb(36, 36, 36);
            width: 100%;
            font-size: 30px;
            height: 4rem;
            font-family: 'PrimaryFont';
            background-color: $secondmorad;
            border-color: transparent;
            border-radius: 15px;
            text-align: center;
            border-style: none;
        }
        &--Button {
            width: 100%;
            height: 4rem;
            color: rgb(36, 36, 36);
            font-family: 'PrimaryFont';
            background-color: white;
            border-color: transparent;
            border-radius: 15px;
            font-size: 50px;
            &:hover {
                background-color: $optional;
                color: white;
            }
        }
    }
}