@font-face {
    font-family: 'PrimaryFont';
    src: url('../../assets/Fonts/BebasNeue-Regular.ttf');
}

a {
    text-decoration: none;
    font-family: 'PrimaryFont';
    color: rgb(255, 255, 255);
}

h1 {
    font-family: 'PrimaryFont';
    color: rgb(255, 255, 255);
}

h2 {
    font-family: 'PrimaryFont';
    color: rgb(255, 255, 255);
}

h5 {
    font-family: 'PrimaryFont';
    font-size: 30px;
    color: rgb(255, 255, 255);
}

p {
    font-family: 'PrimaryFont';
    // font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: rgb(255, 255, 255);
}

body {
    background-color: $main;
    font-size: 25px;
}

.ContainerStyle {
    width: 40%;
    padding: 20px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    // background-color: aliceblue;
    &--Flex {
        display: flex;
    }
}

@media all and (max-width: 1024px) {
    .ContainerStyle {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        // background-color: aliceblue;
        &--Flex {
            display: flex;
        }
    }
}

.StyleLetter {
    font-size: 30px;
    font-family: 'PrimaryFont';
    list-style-type: georgian;
    &--answers {
        
    }
    
}

// BUTTONS
