@font-face {
    font-family: 'PrimaryFont';
    src: url('../../assets/Fonts/BebasNeue-Regular.ttf');
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'PrimaryFont';
    color: white;
}

body {
    background-color: $main;
    font-size: 25px;
}

.ContainerStyle {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    // background-color: aliceblue;
    &--Flex {
        display: flex;
    }
}

.StyleLetter {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}