@font-face {
    font-family: 'PrimaryFont';
    src: url('../../assets/Fonts/BebasNeue-Regular.ttf');
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'PrimaryFont';
    color: white;
}

body {
    background-color: $main;
    font-size: 25px;
}

.ContainerStyle {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    // background-color: aliceblue;
    &--Flex {
        display: flex;
    }
}

.StyleLetter {
    font-size: 30px;
    font-family: 'PrimaryFont';
    &--answers {
        font-size: 30px;
        font-family: 'PrimaryFont';
        color: $optional;
        width: 98%;
        margin-bottom: 15px;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        background-color: $secondary;
    }
}