// COLORS
$main: #242424;
$main2: #ff6961;
$primary: #84b6f4;
$secondary: #d3d3d3;
// $secondary2: #77dd77;
// $optional: #383838;
$optional: #383838;

$morado: #9937F5;
$secondmorad: #ffbac1;
// $success: #5ff19f;
$success: #9937F5;
$optionalbtn: #00dcff;
$hoverpink: #b41d84;
