@mixin ButtonStyle(
        $size,
        $h: 4rem,
        $bg: white, 
        $fontcolor: grey, 
        $fontsize: 0px, 
        $ml: 0px, 
        $mr: 0px
    ) {
    @if $size == large {
        width: 100%;
        @if $fontsize != 0px {
            font-size: $fontsize;
        }
        @else {
            font-size: 50px;
        }
    }
    @else if $size == medium {
        width: 60%;
        @if $fontsize != 0px {
            font-size: $fontsize;
        }
        @else {
            font-size: 30px;
        }
    }
    @else if $size == small {
        width: 45%;
        @if $fontsize != 0px {
            font-size: $fontsize;
        }
        @else {
            font-size: 20px;
        }
    }
    height: $h;
    margin-right: $mr;
    margin-left: $ml;
    margin-top: 15px;
    color: $fontcolor;
    font-family: 'PrimaryFont';
    background-color: $bg;
    border-color: transparent;
    border-radius: 15px;
    transition: all 0.6s ease;
    &:hover {
        background-color: $optional;
        color: white;
    }
}