@mixin InputStyle($size, $bgcolor, $h: auto) {
    @if $size == large {
        width: 100%;
        font-size: 50px;
    }
    @else if $size == medium {
        width: 60%;
        font-size: 30px;
    }
    @else if $size == small {
        width: 30%;
        font-size: 20px;
    }
    color: grey;
    height: $h;
    margin-bottom: 10px;
    font-family: 'PrimaryFont';
    background-color: $bgcolor;
    border-color: transparent;
    border-radius: 15px;
    text-align: center;
    border-style: none;
}